@model Category

<form method="post">
    <div class="border p-3 mt-3">
        <div class="row pb-2">
            <h2 class="text-primary">Create Category</h2>
            <hr/>
        </div>
        <div class="mb-3">
            <label>Create new Category</label>
            <input type="text" class="form-control"/>
        </div>
        <div class="mb-3">
            <label>Display Order</label>
            <input type="number" class="form-control"/>
        </div>
    </div>
</form>